{% extends 'index.html' %}
{% load static %}

{% block content %}
      <div class="col-lg-6 col-xl-5 wow fadeInRight">
          <h2>About Us</h2>
          <p>Pesto is a family owned and operated Italian Restaurant offering a combination of fresh
                            ingredients and authentic Italian cooking.</p>
          <p>We will make sure you are served the most authentic and fresh Italian dishes, while
                            offering the best customer service. Our kitchen is committed to providing our guests
                            with the best Italian Cuisine.</p><img
                            src={% static 'images/my_images/restaurant_in.jpg' %} alt="" width="140" height="50"/>
      </div>
{% endblock %}