{% extends 'index.html' %}
{% load static %}

{% block content %}
    <section class="parallax-container overlay-1" data-parallax-img="{% static 'images/my_images/castellamare-restaurant-8-1920x570.jpg' %}">
        <div class="material-parallax parallax"><img src="{% static 'images/my_images/castellamare-restaurant-8-1920x570.jpg' %}" alt=""
                                                     style="display: block; transform: translate3d(-50%, 165px, 0px);">
        </div>
        <div class="parallax-content breadcrumbs-custom context-dark">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-9">
                        <h2 class="breadcrumbs-custom-title">Typography</h2>
                        <ul class="breadcrumbs-custom-path">
                            <li><a href="{% url 'main_page:main_page_view' %}">Home</a></li>
                            <li class="active">Typography</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-lg bg-default">
        <div class="container">
            <div class="row row-50 flex-lg-row-reverse justify-content-xl-between">
                <div class="col-xl-4">
                    <div class="block-bordered-left">
                        <div class="row row-40">
                            <div class="col-sm-6 col-xl-12">
                                <h5 class="thin-title">Fonts</h5>
                                <h2 class="heading-font text-accent-3">henric</h2>
                                <h3 class="heading-font font-family-base">Poppins</h3>
                                <h2 class="heading-font text-accent-2">Tuesday </h2>
                            </div>
                            <div class="col-sm-6 col-xl-12">
                                <h5 class="thin-title">Colors</h5>
                                <ul class="list-color">
                                    <li>
                                        <div class="box-color bg-primary"></div>
                                    </li>
                                    <li>
                                        <div class="box-color bg-pink"></div>
                                    </li>
                                    <li>
                                        <div class="box-color bg-secondary"></div>
                                    </li>
                                    <li>
                                        <div class="box-color bg-green"></div>
                                    </li>
                                    <li>
                                        <div class="box-color bg-secondary-2"></div>
                                    </li>
                                    <li>
                                        <div class="box-color bg-gray-800"></div>
                                    </li>
                                    <li>
                                        <div class="box-color bg-gray-400"></div>
                                    </li>
                                    <li>
                                        <div class="box-color bg-gray-300"></div>
                                    </li>
                                    <li>
                                        <div class="box-color bg-gray-600"></div>
                                    </li>
                                    <li>
                                        <div class="box-color bg-gray-700"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7">
                    <ul class="list-xxl heading-list">
                        <li>
                            <h1>H1 Heading</h1>
                            <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our
                                website will find exactly what he/she is looking for. With advanced features of
                                activating account and new login widgets, you will definitely have a great experience of
                                using our web page.</p>
                        </li>
                        <li>
                            <h2>H2 Heading</h2>
                            <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our
                                website will find exactly what he/she is looking for. With advanced features of
                                activating account and new login widgets, you will definitely have a great experience of
                                using our web page.</p>
                        </li>
                        <li>
                            <h3>H3 Heading</h3>
                            <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our
                                website will find exactly what he/she is looking for. With advanced features of
                                activating account and new login widgets, you will definitely have a great experience of
                                using our web page.</p>
                        </li>
                        <li>
                            <h4>H4 Heading</h4>
                            <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our
                                website will find exactly what he/she is looking for. With advanced features of
                                activating account and new login widgets, you will definitely have a great experience of
                                using our web page.</p>
                        </li>
                        <li>
                            <h5>H5 Heading</h5>
                            <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our
                                website will find exactly what he/she is looking for. With advanced features of
                                activating account and new login widgets, you will definitely have a great experience of
                                using our web page.</p>
                        </li>
                        <li>
                            <h6>H6 Heading</h6>
                            <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our
                                website will find exactly what he/she is looking for. With advanced features of
                                activating account and new login widgets, you will definitely have a great experience of
                                using our web page.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}